html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

#navbar {
  a:hover {
    background-color: #fbfbfb;
  }
  .header {
    position: relative;
    z-index: 10;
  }
}
#login {
  background: 0;
  margin: 0 auto;
  border: 0;
  box-shadow: none;
  .column {
    margin: 0 auto;
  }
  .two.column.grid {
    width: 100%;
  }
}

#inscription-validee {
  margin-top: 2%;
}

#register {
  width: 75%;
  margin: 2.5% auto;
  .equal.width.fields {
    margin-bottom: 5%;
  }

  /* texte des questions */
  form {
    .field,
    .checkbox,
    .required.field > label {
      font-size: large;
    }
    label {
      line-height: normal;
    }
    .field > label {
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
  }

  .required.field > :after {
    font-size: x-large;
  }

  .info {
    font-size: large;
    margin-bottom: 5%;
    text-align: end;
    span {
      color: #db2828;
      font-weight: bold;
    }
  }

  #horaires {
    margin-bottom: 5%;
    .ui.label {
      font-size: larger;
      width: 100%;
      margin: 0;
      margin-bottom: 1%;
    }
  }
  #livraison {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 5%;
  }
}

#users {
  margin-top: 1%;

  .user {
    margin-top: 2.5%;
    .item {
      margin-top: 1rem;
    }

    .infos-supplementaire {
      .item {
        border-top: 1px solid silver;
        padding-top: 1rem;
      }
    }

    .jours {
      display: inline-block;
      width: 10%;
    }
    .horaires {
      display: inline-block;
      width: 20%;
      text-align: end;
    }
  }

  .arrow.circle {
    cursor: pointer;
  }
  .description {
    margin-top: 1rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  #users {
    .user {
      .jours {
        width: 33.33%;
      }
      .horaires {
        display: inline-block;
        width: 60%;
        text-align: end;
      }
    }
  }
}
